<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Form gallery</title>
{{ bootstrap|trusted_html }}
<link rel="stylesheet" href="/suprnova-ui/button/button.css">
<link rel="stylesheet" href="/suprnova-ui/button-group/button-group.css">
<link rel="stylesheet" href="/suprnova-ui/checkbox/checkbox.css">
<link rel="stylesheet" href="/suprnova-ui/field/field.css">
<link rel="stylesheet" href="/suprnova-ui/fieldset/fieldset.css">
<link rel="stylesheet" href="/suprnova-ui/file-input/file-input.css">
<link rel="stylesheet" href="/suprnova-ui/form-actions/form-actions.css">
<link rel="stylesheet" href="/suprnova-ui/input/input.css">
<link rel="stylesheet" href="/suprnova-ui/label/label.css">
<link rel="stylesheet" href="/suprnova-ui/number-input/number-input.css">
<link rel="stylesheet" href="/suprnova-ui/password-input/password-input.css">
<link rel="stylesheet" href="/suprnova-ui/radio-group/radio-group.css">
<link rel="stylesheet" href="/suprnova-ui/search-input/search-input.css">
<link rel="stylesheet" href="/suprnova-ui/select/select.css">
<link rel="stylesheet" href="/suprnova-ui/slider/slider.css">
<link rel="stylesheet" href="/suprnova-ui/switch/switch.css">
<link rel="stylesheet" href="/suprnova-ui/textarea/textarea.css">
<link rel="stylesheet" href="/suprnova-ui/validation-summary/validation-summary.css">
<script type="module" src="/suprnova-ui/password-input/password-input.js"></script>
</head>
<body>
<main>
<h1>Form gallery</h1>
{{ gallery|trusted_html }}
</main>
</body>
</html>
